@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body {
  font-family: 'Kosugi Maru', sans-serif;
  width: 300px;
  border: none;
  margin: 50px;
  color: #333;
  background-image: linear-gradient(0deg, rgba(254, 220, 64, 0.5), rgba(247, 93, 139, 0.5));
}

.title {
  font-size: 20px;
  color: purple;
  border-bottom: 1px solid purple;
  text-align: center;
  padding-bottom: 8px;
}

ul {
  padding-left: 24px;
  padding-top: 8px;
  text-align: start;
}

li {
  margin: 1em 0;
  font-size: 14px;
  list-style: circle;
  margin-bottom: 8px;
  line-height: 1.5;
}